.auth-page {
    background-color: var(--off-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.auth-form {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.auth-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.auth-form form input,
.auth-form form button {
    width: 100%;
    height: 3rem;
    font-size: 16px;
    border-radius: 5px;
}

.auth-form form input {
    padding: 0 0.5rem;
    border: 1px solid rgb(206, 206, 206);
}

.auth-form form input:focus {
    outline: 1px solid var(--main-green);
    border: none;
}

.auth-form form button {
    border: none;
    background-color: var(--main-green);
    color: white;
    transition: 0.1s ease-in-out filter;
}

.auth-form form button:hover {
    filter: brightness(0.9);
}

.form-entry {
    width: 100%;
    position: relative;
}

.form-label {
    position: absolute;
    cursor: text;
    top: 0.9rem;
    left: 0.5rem;
    transition: all 0.2s ease-in-out;
    background-color: white;
    padding: 0 0.1rem;
    color: rgb(98, 98, 98);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    top: -0.5rem;
    font-size: 12px;
}

.auth-footer {
    padding-top: 30px;
}

.auth-form p {
    text-align: center;
    font-weight: 300;
}

.auth-form p span {
    color: var(--main-green);
    font-weight: 400;
    cursor: pointer;
}

.auth-form p span:hover {
    text-decoration: underline;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.app-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.app-title div {
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 900px) {
    .auth-container {
        flex-direction: column;
        gap: 2rem;
    }

    .auth-form form {
        width: 100%;
    }

    .app-header,
    .auth-form-container {
        width: 95%;
        max-width: 500px;
        padding: 0;
        align-self: center;
    }

    .app-header {
        padding: 0 0.5rem;
        text-align: center;
    }

    .app-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .auth-form {
        width: 100%;
    }
}
